// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bg-login {
  background: whitesmoke;
}

.logo-main-settings {
  margin-top: 45px;
  margin-bottom: 10px;
}

.general-background {
  background-image: url('../assets/imgs/generalBackground.png');
}

.ciencias-background {
  background-image: url('../assets/imgs/cienciasBackground2.jpeg' );
  background-size: cover;
}
.mate-background {
  background-image: url('../assets/imgs/mateback2.jpg' );
  background-size: cover;
}
.espa-background {
  background-image: url('../assets/imgs/espaBack2.png' );
  background-size: cover;
}
.sociales-background {
  background-image: url('../assets/imgs/background-sociales.jpg');
}

.img-format {
  height: 48%;
  width: 85%;
}

.main-text {
  color: whitesmoke;
}

.bg-about {
  background: #008b8b;
}

.bg-slide {
  background: #000000;
}

.toolbar-background-color {
  background-color: #41ade7;
}

.card-header{
    background-color: #41ade7;
    color: white;
}

.title-color{
  color: #412464;
}

.text-color{
  color: #00ed8e;
}

$toolbar-background: #41ade7;
