<!--
  Generated template for the ScoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar color="ucr">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resultados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card text-center>
    <ion-card-header color="primary" (click)="eventAR()" class="card-header">
      Todo aleatorio
    </ion-card-header>
    <ion-card-content *ngIf="isAR">
      <div style="display: block">
        <canvas baseChart [data]="ARData" [colors]="Colours" [labels]="Labels" [chartType]="ARType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card text-center>
    <ion-card-header color="primary" (click)="eventALG()">
      Algebra y relaciones
    </ion-card-header>
    <ion-card-content *ngIf="isALG">
      <div style="display: block">
        <canvas baseChart [data]="ALGData" [colors]="Colours" [labels]="Labels" [chartType]="ARType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card text-center>
    <ion-card-header color="primary" (click)="eventGEO()">
      Geometria
    </ion-card-header>
    <ion-card-content *ngIf="isGEO">
      <div style="display: block">
        <canvas baseChart [data]="GEOData" [colors]="Colours" [labels]="Labels" [chartType]="ARType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card text-center>
    <ion-card-header color="primary" (click)="eventEYP()">
      Estadistica y probabilidad
    </ion-card-header>
    <ion-card-content *ngIf="isEYP">
      <div style="display: block">
        <canvas baseChart [data]="EYPData" [colors]="Colours" [labels]="Labels" [chartType]="ARType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card text-center>
    <ion-card-header color="primary" (click)="eventSIM()">
      Simulacion de examen
    </ion-card-header>
    <ion-card-content *ngIf="isSIM">
      <div style="display: block">
        <canvas baseChart [data]="SIMData" [colors]="Colours" [labels]="Labels" [chartType]="ARType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card text-center>
    <ion-card-header color="primary" (click)="eventOT()">
      Examenes Anteriores
    </ion-card-header>
    <ion-card-content *ngIf="isOT">
      <div style="display: block" margin-vertical text-center>

        <h2>Examen 2017</h2>

        <canvas baseChart [data]="OTIData" [colors]="Colours" [labels]="Labels" [chartType]="ARType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>

      </div>
      <hr>
      <div style="display: block" margin-vertical text-center>

        <h2>Examen 2016</h2>

        <canvas baseChart [data]="OTIIData" [colors]="Colours" [labels]="Labels" [chartType]="ARType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>

      </div>
      <hr>
      <div style="display: block" margin-vertical text-center>

        <h2>Examen 2015</h2>

        <canvas baseChart [data]="OTIIIData" [colors]="Colours" [labels]="Labels" [chartType]="ARType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>

      </div>
    </ion-card-content>
  </ion-card>


</ion-content>
